@import "../../../style/index.scss";

.emptyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 20px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0em;
  text-align: center;
  @include themeify {
    font-size: themed(Body_font-size);
    font-weight: themed(Regular_font-weight);
    color: themed(Gray_500);
  }
}