@import "../../../style/index.scss";

.searchInput {
  display: flex;
  padding: 10px 16px;
  border-radius: 8px;
  transition: all .1s;
  @include themeify {
    background: themed(Gray_100);
    border: 1px solid themed(Gray_100);
    > input {
      font-size: themed(Headline_font-size);
      color: themed(Gray_900);
      font-weight: themed(Regular_font-weight);
      background-color: themed(Gray_100);
    }

  > input {
    width: 100%;
    margin-left: 16px;
    padding: 0;
    outline: none;
    border: none;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    transition: all .1s;
    color: themed(Gray_900);
  }
}
}
.searchInputFoucs {
  @include themeify {
    background-color: themed(White_color);
    border: 2px solid themed(Violet_400);
    > input {
      background-color:themed(White_color);
      color: themed(Gray_900);
    }
  }
}
.searchIcon, .cleanBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.searchIcon {
  @include themeify {
    color: themed(Gray_400);
  }
}
.cleanBtn {
  cursor: pointer;
  &.hide {
    display: none;
  }
  @include themeify {
    color: themed(Gray_300);
    &:hover {
      color: themed(Gray_400);
    }
  }
}