@import "../../style/index.scss";

.mask {
  position: fixed;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  @include themeify {
    background-color: themed(Gray_600);
  }
}

.allThreadListContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-radius: 0px 10px 0 0;
  min-width: 400px;
  max-width: 400px;
  @include themeify {
    border-left: 1px solid themed(Gray_100);
    background: themed(White_color);
  }
}

.mobileStyle {
  min-width: 100%;
  border: none;
}

.warp {
  height: 100%;
  overflow-y: scroll;
}

.listItem {
  padding: 15px 40px;
  display: flex;
  align-items: center;

  cursor: pointer;
  @include themeify {
    color: themed(Gray_900);
    &:hover {
      background-color: themed(Gray_200);
    }
  }


  .symbol {
    font-size: 22px;
    font-weight: bold;
    @include themeify {
      color: themed(Gray_500);
    }
  }

  .avatar {
    margin: 0 20px 0 10px;
  }

  .text {
    font-weight: 700;
    font-size: 14px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 这里是超出几行省略 */
    overflow: hidden;
  }
}

.loadingContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
