@import "../../style/index.scss";
.btn {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  cursor: pointer;
  border-radius: 20px;
  margin-right: -3px;
  @include themeify {
    background: themed(White_color)
  }
}
.btn:focus {
  border: none;
  outline: none;
}

.createChannelModal {
  min-width: 420px;
  width: 420px;
  height: 480px;
  font-family: 'Inter';
  overflow: hidden;
  &.mobileStyle {
    width: 100%;
    height: 100%;
    min-width: 375px;
    border-radius: unset;
  }
}

.createChannelModalHeader {
  display: flex;
  position: relative;
  height: 50px;
  border-radius: 0px;
  padding: 14px 16px 14px 16px;

  .title {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
  .closeBtn, .backBtn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 16px;
    color: #A1A1AA;
    cursor: pointer;
    &:hover {
      color: #71717A;
    }
  }
}

.createChannelContainer {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  overflow-y: hidden;
}

.hide {
  display: none;
}

.opreraBar {
  display: flex;
  padding: 16px 16px;
  &.hide {
    display: none;
  }
  button:first-of-type {
    margin-right: 16px;
  }
  .addFriends, .createRoom {
    width: 20px;
    height: 20px;
    font-size: 6.666666666px;
  }
}

.contactsContainer {
  overflow: hidden;
  height: 100%;
  > .friendTitle {
    width: 100%;
    height: 20px;
    padding: 0px 16px;
    margin-bottom: 8px;
    color: #3F3F46;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.contactList {
  height: calc(100% - 28px);
  overflow-y: scroll;
  cursor: pointer;
}

.contactItem, .searchFollowerItem, .searchContactItem {
  display: flex;
  padding: 8px 16px;
  margin-bottom: 4px;
  color: #18181B;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    background-color: #F4F4F5;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 0em;
  text-align: left;
}

.searchFollowerItem {
  .followStatus {
    font-size: 10px;
    font-weight: 400;
    color: #A1A1AA;
  }
  .searchFollowersBtn {
    display: flex;
    align-self: center;
    position: absolute;
    right: 16px;
  }
}

.addFriendContainer, .selectContactsContainer, .createRoomContainer {
  display: flex;
  flex-direction: column;
  height: calc(100% - 124px);
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 1px solid #F4F4F5;
  &.hide {
    display: none;
  }
}
.btnContaner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 16px;
}
.commonInput, .commonTextarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  text-align: left;
  line-height: 20px;
  padding: 10px 16px;
  outline: none;
  border: 1px solid #E4E4E7;
  border-radius: 8px;
  &:focus {
    border: 2px solid #8885FD;
  }
}
.commonTextarea {
  resize: vertical
}

.addFriendContainer {
  padding: 0 16px;
  > .label {
    color: #18181B;
    margin-bottom: 8px;
  }
  .label:nth-child(4) {
    margin-top: 16px;
  }
  > .warnning {
    box-sizing: border-box;
    display: flex;
    line-height: 16px;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #FEE1E1;
    border-radius: 12px;
    background-color: #FEF1F1;
    color: #EF4343;
    font-size: 12px;
    font-weight: 500;
    &.hide {
      display: none;
    }
  }
  .warnIcon {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
    font-size: 4px;
  }
}

.selectContactsContainer {
  font-weight: 600;

  .inputContainer {
    box-sizing: border-box;
    display: flex;
    margin: 0 16px;
    padding: 4px 10px;
    border: 2px solid #8885FD;
    border-radius: 8px;
    cursor: text;

    .contactSelector {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      .selectedBox {
        height: 23px;
        line-height: 20px;
        padding: 1px 6px 2px 6px;
        margin: 4px 8px 4px 0px;
        color: #FFFFFF;
        background: #615EF0;
        border-radius: 4px;
        cursor: default;
      }

      .inputElement {
        min-width: 4px;
        width: 100%;
        overflow: auto;
        font-size: 16px;
        background: none;
        border: none;
        outline: none;
        flex: none;
        align-self: center;
        margin: 0;
        padding: 0;
        appearance: none;
      }
    }
  }
}
.searchContactItem {
  input[type=checkbox] {
    appearance: none;
    width: 20px;
    height: 20px;
    align-self: center;
    margin: 0;
    margin-right: 12px;
    border: 1.875px solid #D4D4D8;
    border-radius: 6px;
    cursor: pointer;
    &:checked {
      position: relative;
      background-color: #615EF0;
      border: none;
      border-radius: 6px;
      &::after {
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        inset-inline-start: 21.5%;
        display: table;
        width: 7.14282142px;
        height: 11.285714px;
        border: 2px solid #fff;
        border-top: 0;
        border-inline-start: 0;
        transform: rotate(45deg) translate(-50%,-50%);
        content: "";
      } 
    }
  }
}

.createRoomContainer {
  .operationContainer {
    display: flex;
    align-items: center;
    background: #F4F4FE;
    border-radius: 22px;
    padding: 12px;
    margin: 0px 16px 16px 16px;

    .fileBox, .imgBox {
      border-radius: 12px;
      cursor: pointer;
    }
    .imgBox {
      width: 64px;
      height: 64px;
      overflow: hidden;
    }

    .fileBox {
      margin-right: 12px;
      padding: 14px;
      background: #8885FD;
      &.nopadding {
        padding: 0;
      }
      .cameraIcon {
        width: 36px;
        height: 36px;
        font-size: 12px;
        color: #FDFDFD;
      }
    }
  }
}

.mainContainer {
  position: relative;
  margin-top: 16px;
  height: 100%;
  overflow-y: scroll;
}



