@import "../../style/index.scss";
html,
body {
  overflow: hidden;
}
div {
  box-sizing: border-box;
}
.chatContainer {
  display: flex;
  height: 100%;
  @include themeify{
    background-color: themed(White_color);
  }
}
.mobileStyle {
  flex-direction: column-reverse;
}
