@import "../../style/index.scss";
.mq-btn {
  position: relative;
  display: inline-block;
  height: 33px;
  line-height: 1.42857143;
  padding: 6px 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  @include themeify {
    font-size: themed(Body_font-size);
    font-weight: themed(Medium_font-weight);
    color: themed(Primary_button_text_color);
  }
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  > span {
    display: inline-block;
  }
  > span:nth-of-type(2) {
    margin-left: 8px;
  }
}
.mq-btn-icon {
  vertical-align: sub;
}

// type default
.mq-btn-default {
  @include themeify {
    border: 1px solid themed(Gray_200);
    background-color: themed(White_color);
    color: themed(Default_button_text_color);
    &:hover {
      background-color: themed(Gray_100);
    }
    &:disabled {
      background-color: themed(Gray_100);
      color: themed(Default_button_disable_text_color);
    }
  }
}

// type primary
.mq-btn-primary {
  @include themeify {
    background-color: themed(Violet_500);
    color: themed(Primary_button_text_color);
    &:hover {
      background-color: themed(Violet_700);
    }
    &:disabled {
      background-color: themed(Violet_50);
      color: themed(Primary_button_disable_text_color);
      opacity: 1;
    }
  }
}

// type ghost
.mq-btn-ghost {
  @include themeify {
    border: 1px solid themed(Violet_200);
    background-color: themed(White_color);
    color: themed(Ghost_button_text_color);
    &:hover {
      border: 1px solid themed(Violet_500);
      background-color: themed(Violet_50);
    }
    &:disabled {
      color: themed(Ghost_button_disable_text_color);
      background-color: themed(Violet_50);
    }
  }
}

// type danger
.mq-btn-danger {
  @include themeify {
    color: themed(Danger_button_text_color);
    background-color: themed(Red_500);
    &:hover {
      background-color: themed(Red_700);
    }
    &:disabled {
      color: themed(Danger_button_disable_text_color);
      background-color: themed(Red_50);
    }
  }
}

// disabled
.mq-btn-default:disabled,
.mq-btn-primary:disabled,
.mq-btn-ghost:disabled,
.mq-btn-danger:disabled {
  cursor: not-allowed;
  border: none;
  > * {
    pointer-events: none;
  }
}

// size small
.mq-btn-sm {
  height: 28px;
  padding: 3px 8px;
}
// size large
.mq-btn-lg {
  @include themeify {
    font-size: themed(Headline_font-size);
  }
  height: 42px;
  padding: 10px 20px;
  line-height: 1.25;
  border-radius: 8px;
}

.mq-btn-block {
  width: 100%;
}
