@import '../../style/index.scss';

.buttonContainer {
  padding: 7px 16px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  @include themeify {
    font-size: themed(Headline_font-size);
    &.disabled,
    &[disabled] {
      cursor: not-allowed;
      opacity: 0.8;
      background-color: themed(Violet_50);
      color: themed(Violet_400);
      box-shadow: none;

      > * {
        pointer-events: none;
      }
    }
  }
}

.primary {
  @include themeify {
    background-color: themed(Violet_500);
    color: themed(White_color);
  }
}

.danger {
  @include themeify {
    background-color: themed(Red_500);
    color: themed(White_color);
    &.disabled,
    &[disabled] {
      cursor: not-allowed;
      opacity: 0.8;
      background-color: themed(Red_50);
      color: themed(Red_400);
      box-shadow: none;

      > * {
        pointer-events: none;
      }
    }
  }
}

.large {
  padding: 7px 20px;
  @include themeify {
    font-size: themed(Headline_font-size);
  }
}

.small {
  @include themeify {
    font-size: themed(Body_font-size);
  }
}
