@import "../../style/index.scss";
.followPreviewContainer {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  @include themeify{
    background-color: themed(White_color);
    &:hover {
      background-color: themed(Gray_100);
    }
    &.selected {
      background-color: themed(Gray_100);
    }
  }
}
.rightContent {
  height: 40px;
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  align-items: center;
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include themeify {
      & :nth-child(1) {
        font-size: themed(Body_font-size);
        font-weight: themed(Medium_font-weight);
        color: themed(Gray_900);
      }
      & :nth-child(2) {
        font-size: themed(Caption2_font-size);
        font-weight: themed(Regular_font-weigh);
        color: themed(Gray_400);
      }
    }
  }
}

.unFollowModalContainer {
  width: 400px;
}
.mobileStyle {
  width: 345px;
  max-width: 100%;
}

.unFollowModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 12px 24px;

  .title {
    font-family: Inter, sans-serif;
    font-style: normal;
    line-height: 22px;
    @include themeify {
      font-size: themed(title3_font-size);
      font-weight: themed(Medium_font-weight);
    }
  }

  .closeBtn {
    cursor: pointer;
    @include themeify {
      &:hover {
        svg path {
          fill: themed(Gray_500);
        }
      }
    }
  }
}

.unFollowDescription {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: 20px;
  padding: 0px 24px;
  margin-bottom: 12px;
  @include themeify {
    font-weight: themed(Regular_font-weight);
    font-size: themed(Body_font-size);
    color: themed(Gray_600);
  }
}

.buttonGroupContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px 8px 24px
}