@import "../../style/index.scss";

.messageInput {
  width: 100%;
  padding: 10px 16px;
  box-sizing: border-box;
  resize: none;
  line-height: 16px;
  min-height: 0px;
  border-radius: 8px;
  border: 1px solid;
  outline: none;
  font-family: Inter, sans-serif;
  @include themeify {
    border-color: themed(Gray_200);
    background-color: themed(White_color);
    color: themed(Primary_color);
    font-size: themed(Headline_font-size);
    font-weight: themed(Regular_font-weight);
  }
}

.chatAutoCompleteContainer {
  display: inline-flex;
  align-items: center;
  flex: 1;

  &.mobileStyle {
    .messageInput {
      padding: 10px 15px;
    }

    svg {
      margin-left: 10px;
    }
  }

  .replyMessageBox {
    flex: 1;
    border: 1px solid;
    border-radius: 8px;
    @include themeify {
      border-color: themed(Gray_200);
      background-color: themed(White_color);
      color: themed(Primary_color);
      font-size: themed(Headline_font-size);
      font-weight: themed(Regular_font-weight);
      &:focus-within + .sendmessageIcon svg {
        fill: themed(Gray_900);
      }
      .replyHistoryMessage {
        border: 1px solid themed(Gray_200);
        border-radius: 3px;
        margin: 13px 13px 0;
        padding: 4px 28px 4px 17px;
        position: relative;

        .name {
          font-weight: themed(Bold_font-weight);
          font-size: themed(Body_font-size);
          line-height: 16px;
          color: themed(Gray_900);
          margin-right: 12px;
        }

        .time {
          font-weight: themed(Medium_font-weight);
          font-size: themed(Caption1_font-size);
          color: themed(Gray_400);
        }

        .content {
          font-size: themed(Body_font-size);
          color: themed(Gray_900);
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 4px;
          width: 3px;
          height: 90%;
          background: themed(Violet_500);
          border-radius: 3px;
          margin: auto 0;
        }

        svg {
          position: absolute;
          right: 6px;
          top: 6px;
          width: 12px;
          height: 12px;
          transform: scale(0.9);
          cursor: pointer;
          transition: fill 0.2s ease-in-out;
        }
      }
    }

    textarea {
      border: none;
    }
  }
}

.sendmessageIcon svg {
  cursor: pointer;
  margin-left: 16px;
  height: 27px;
  transition: fill 0.2s ease-in-out;
}
