@import "../../style/index.scss";
.chatContainerClass {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  @include themeify{
    background-color: themed(White_color);
  }
}
.mobileStyle {
  // position: fixed;
  position: absolute;
  border: none;
}
