@import "../../style/index.scss";
.messageListcontainer {
  flex: 1;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.messageListcontainer::-webkit-scrollbar{
  width:10px;
  height:10px;
}
.messageListcontainer::-webkit-scrollbar-track{
  @include themeify{
    background: themed(White_color);
  }
  border-radius:2px;
}
.messageListcontainer::-webkit-scrollbar-thumb{
  @include themeify{
    background: themed(Gray_500);
  }
  border-radius:10px;
}
.messageListcontainer::-webkit-scrollbar-thumb:hover{

  @include themeify{
    background: themed(Gray_900);
  }
}
.chatUl {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.loadMoreBtn {
  cursor: pointer;
  padding: 10px 0;
  text-align: center;
}
.loadingContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
//.newMsgCount {
//  cursor: pointer;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  font-size: 14px;
//  line-height: 14px;
//  background-color: #fafafa;
//  color: #006cff;
//  box-shadow: 0px 0px 20px rgba(143, 146, 151, 0.3);
//  border-radius: 20px;
//  position: absolute;
//  padding: 8px 15px;
//  z-index: 2;
//  bottom: 60px;
//  left: 50%;
//  transform: translateX(-50%);
//}
