@import '../../style/index.scss';

.messageHeaderContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px;
  min-height: 80px;
  box-sizing: border-box;

  &.mobileStyle {
    padding: 0 16px;
  }

  @include themeify {
    border-bottom: 1px solid themed(Gray_100);
    background-color: themed(White_color);
  }
}

.warp {
  display: flex;
  align-items: center;
}

.operationBar {
  display: flex;
  align-items: center;
  margin-right: 12px;
  @include themeify {
    color: themed(Gray_900);
    font-weight: themed(Medium_font-weight);
    font-size: themed(Body_font-size);
  }
}

.icon {
  cursor: pointer;
  margin-left: 24px;
  display: flex;
  align-items: center;
  height: 24px;

  div:first-child {
    margin-right: 8px;
  }
  @include themeify {
    color: themed(Gray_900);
    font-size: themed(Body_font-size);
    font-weight: themed(Medium_font-weight);
  }
}

.title {
  max-width: 190px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include themeify {
    color: themed(Gray_900);
    font-size: themed(Body_font-size);
    font-weight: themed(Medium_font-weight);
  }
}

.close {
  width: 23px;
  height: 22px;
  margin-right: 10px;
  cursor: pointer;
}
