@import "../../style/index.scss";

.radioGroupContainer {
  display: flex;
}

.radio {
  cursor: pointer;
  margin-right: 30px;
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
  font-style: normal;
  height: 25px;
  line-height: 25px;
  @include themeify {
    font-weight: themed(Regular_font-weight);
    font-size: themed(Headline_font-size);
    color: themed(Gray_800);
  }
}

.label {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 12px;
  @include themeify {
    background-color: themed(White_color);
    border: 1px solid themed(Gray_800);
  }
}

.selected {
  display: flex;
  align-items: center;
  justify-content: center;

  @include themeify {
    border: 1px solid themed(Violet_500);
    .inner {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: themed(Violet_500);
    }

  }
}
