.channelHeadContainer {
  box-sizing: content-box;
  &.mobileStyle {
    .header {
      padding: 16px 24px 24px;
    }
  }
}
.mobileStyle {
  width: auto;
}
.header {
  display: flex;
  align-items: center;
  padding: 24px 24px 38px;
  margin-bottom: 10px;
}
.title {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
