.mainContainer {
  height: calc(var(--web3mq-viewport-hight, 1vh) * 100);
  display: flex;
  flex-direction: column;
  &.hasContainerId {
    height: calc(100% - 60px);
  }
}
.listItem {
  min-width: 350px;
  height: 100%;
  overflow-y: auto;
}
.hide {
  display: none;
}
.mobileStyle {
  height: calc(var(--web3mq-viewport-hight, 1vh) * 100 - 60px);
}
