@import "../../style/index.scss";

.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  &.hasContainerId {
    height: calc(100% - 60px);
  }
}
.listItem {
  min-width: 350px;
  height: 100%;
  overflow-y: auto;
}


.listItem::-webkit-scrollbar{
  width:10px;
  height:10px;
}
.listItem::-webkit-scrollbar-track{
  @include themeify{
    background: themed(White_color);
  }
  border-radius:2px;
}
.listItem::-webkit-scrollbar-thumb{
  @include themeify{
    background: themed(Gray_500);
  }
  border-radius:10px;
}
.listItem::-webkit-scrollbar-thumb:hover{

  @include themeify{
    background: themed(Gray_900);
  }
}

.hide {
  display: none;
}
.mobileStyle {
  height: calc(100vh - 60px);
}
