@import "../../../style/index.scss";

.modalBody {
  width: 100%;
  height: 430px;
  overflow-x: hidden;
  overflow-y: auto;
}

.modalBody::-webkit-scrollbar{
  width:10px;
  height:10px;
}
.modalBody::-webkit-scrollbar-track{
  @include themeify{
    background: themed(White_color);
  }
  border-radius:2px;
}
.modalBody::-webkit-scrollbar-thumb{
  @include themeify{
    background: themed(Gray_500);
  }
  border-radius:10px;
}
.modalBody::-webkit-scrollbar-thumb:hover{

  @include themeify{
    background: themed(Gray_900);
  }
}
.btnContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  @include themeify {
    background-color: themed(White_color);
    .title {
      font-size: themed(Caption1_font-size);
    }
  }
}