@import "../../../style/index.scss";
.PcContainer {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 16px 0 24px;
  border-right: 1px solid;
  z-index: 1;
  @include themeify{
    background: themed(White_color);
    border-color: themed(Gray_100);
  }
}
.userAvatar {
  margin-right: 0;
}
.list {
  width: 100%;
  margin-top: 40px;
}
.tabItem {
  position: relative;
  width: 100%;
  height: 52px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  @include themeify{
    color: themed(Gray_900);
    &:hover {
      color:  themed(Violet_500);
      &::before {
        display: block;
      }
    }
    &.selected {
      color:  themed(Violet_500);
      fill:  themed(Violet_500);
      &::before {
        display: block;
      }
    }
  }

}
.icon {
  width: 24px;
  height: 30px;
  background-size: cover;
  @include themeify{
    &:hover{
      fill:  themed(Violet_500);
    }
    &.selected svg path{
      fill:  themed(Violet_500);
    }
  }


}
.title {
  @include themeify{
    font-size: themed(Caption1_font-size);
  }
}
