@import "../../../style/index.scss";

.chooseWalletBox {
  @include themeify {
  color: themed(Gray_900);
  background: themed(White_color);
  .contentBox {
    padding: 16px 0;
      color: themed(Gray_900);
      background: themed(White_color);

      .top {
        display: flex;
        justify-content: left;
        align-items: center;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        line-height: 20px;
        text-align: center;
        height: 20px;
        font-weight: themed(Regular_font-weight);
        font-size: themed(Body_font-size);

        .icon {
          margin-right: 4px;
          width: 16px;
          height: 16px;
        }
      }

      .btnsBox {
        .btn {
          width: 100%;
          margin-top: 16px;
          height: 40px;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .icon {
            margin-right: 8px;
          }
        }
      }
    }
  }
}