@import "../../style/index.scss";
.channelPreviewContainer {
  height: 56px;
  display: flex;
  align-items: center;
  padding:8px 16px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  @include themeify{
    background-color: themed(White_color);
    &:hover {
      background-color: themed(Gray_100);
    }
    &.selected {
      background-color: themed(Gray_100);
    }
  }
}
.wrapper {
  flex: 1 1;
  flex-direction: column; 
  max-width: 250px; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Inter, sans-serif;
  @include themeify{
    font-size: themed(Body_font-size);
    font-weight: themed(Medium_font-weight);
    color: themed(Gray_900);
  }
}
