@import "../../../style/index.scss";

.roomSettingsBox {
  .listContainer {
    padding: 16px;

    .listTitle {
      margin: 5px 0 15px;
      font-weight: 700;
      @include themeify {
        font-size: themed(Headline_font-size);
        color: themed(Primary_color);
      }
    }

    .listWarp {
      overflow-y: auto;
      max-height: 420px;
    }

    .listWarp::-webkit-scrollbar{
      width:10px;
      height:10px;
    }
    .listWarp::-webkit-scrollbar-track{
      @include themeify{
        background: themed(White_color);
      }
      border-radius:2px;
    }
    .listWarp::-webkit-scrollbar-thumb{
      @include themeify{
        background: themed(Gray_500);
      }
      border-radius:10px;
    }
    .listWarp::-webkit-scrollbar-thumb:hover{

      @include themeify{
        background: themed(Gray_900);
      }
    }

    .listItem {
      cursor: pointer;
      min-height: 48px;
      display: flex;
      align-items: center;

      .name {
        margin-left: 10px;
        font-weight: 500;
        @include themeify {
          font-size: themed(Body_font-size);
          color: themed(Primary_color);
        }
      }
    }
  }

}







