@import '../../style/index.scss';
.channelListMessengerContainer {
  min-width: 350px;
  height: 100%;
  overflow-y: auto;
  @include themeify{
    background-color: themed(White_color);
    border-right: 1px solid themed(Gray_100);
  }
}
.channelListMessengerContainer::-webkit-scrollbar{
  width:10px;
  height:10px;
}
.channelListMessengerContainer::-webkit-scrollbar-track{
  @include themeify{
    background: themed(White_color);
  }
  border-radius:2px;
}
.channelListMessengerContainer::-webkit-scrollbar-thumb{
  @include themeify{
    background: themed(Gray_500);
  }
  border-radius:10px;
}
.channelListMessengerContainer::-webkit-scrollbar-thumb:hover{

  @include themeify{
    background: themed(Gray_900);
  }
}
