@import "../../style/index.scss";

.notificationContainer {
  height: 100%;
  overflow-y: auto;
  @include themeify{
    background-color: themed(White_color);
    border-right: 1px solid themed(Gray_100);
  }
}
.notificationIcon {
  height: 42px;
  svg {
    width: 36px;
    height: 42px;
  }
}