$light: (
  // Gray
  Gray_50: #fdfdfd,
  Gray_100: #f4f4f5,
  Gray_200: #e4e4e7,
  Gray_300: #d4d4d8,
  Gray_400: #a1a1aa,
  Gray_500: #71717a,
  Gray_600: #52525b,
  Gray_700: #3f3f46,
  Gray_800: #27272a,
  Gray_900: #18181b,
  // Green
  Green_50: #f2fdf5,
  Green_100: #defce9,
  Green_200: #bbf7d0,
  Green_300: #85efac,
  Green_400: #4ade80,
  Green_500: #1ac057,
  Green_600: #16a249,
  Green_700: #157f3c,
  Green_800: #1c713c,
  Green_900: #114c29,
  // Orange
  Orange_50: #fff6eb,
  Orange_100: #ffedd6,
  Orange_200: #fed6a9,
  Orange_300: #fdba72,
  Orange_400: #fb923c,
  Orange_500: #f67416,
  Orange_600: #e9590c,
  Orange_700: #c03f0c,
  Orange_800: #9b3b12,
  Orange_900: #7d2d12,
  // Red
  Red_50: #fef1f1,
  Red_100: #fee1e1,
  Red_200: #fec8c8,
  Red_300: #fca6a6,
  Red_400: #fd6b6b,
  Red_500: #ef4343,
  Red_600: #dc2828,
  Red_700: #ba1c1c,
  Red_800: #981b1b,
  Red_900: #811d1d,
  // Yellow
  Yellow_50: #fefce7,
  Yellow_100: #fef9c3,
  Yellow_200: #fef08b,
  Yellow_300: #fddf49,
  Yellow_400: #facc14,
  Yellow_500: #e7b008,
  Yellow_600: #c88a04,
  Yellow_700: #a26107,
  Yellow_800: #864e0e,
  Yellow_900: #733f12,
  // Cyan
  Cyan_50: #f0f9ff,
  Cyan_100: #e1f3fe,
  Cyan_200: #bae5fd,
  Cyan_300: #7ed4fc,
  Cyan_400: #3abff8,
  Cyan_500: #0da2e7,
  Cyan_600: #0284c5,
  Cyan_700: #0369a0,
  Cyan_800: #075783,
  Cyan_900: #0c4a6e,
  // Violet
  Violet_50: #f4f4fe,
  Violet_100: #e3e3fc,
  Violet_200: #d2d1f9,
  Violet_300: #b8b7ff,
  Violet_400: #8885fd,
  Violet_500: #615ef0,
  Violet_600: #5754d6,
  Violet_700: #3d3abb,
  Violet_800: #2c2a98,
  Violet_900: #292986,
  Primary_color: #000000,
  White_color: #ffffff,
  // font
  Regular_font-weight: 400,
  Medium_font-weight: 500,
  Bold_font-weight: 600,
  title1_font-size: 32px,
  title2_font-size: 26px,
  title3_font-size: 18px,
  Headline_font-size: 16px,
  Body_font-size: 14px,
  Tips_font-size: 13px,
  Caption1_font-size: 12px,
  Caption2_font-size: 10px,
);

$dark: (
  Primary_color: #ffffff,
  White_color: #000000,
);

$themes: (
  light: $light,
  dark: $dark,
);
