$variables: (
  //$menu: (
  //  color: #18181b,
  //  font-family: Inter,
  //  font-style: normal,
  //  font-weight: 500,
  //  font-size: 12px,
  //),
  borderRadius: 18px,
  borderColor: #f4f4f5,
  buttonBorderRadius: 8px,
  textColor: #18181b,
  textFontSize: 14px,
  button-bc-color: #615ef0,
  active-menu-color: #615ef0,
);

