@import "../../style/index.scss";

.icon {
  cursor: pointer;
  margin-left: 24px;
  display: flex;
  align-items: center;

  div:first-child {
    margin-right: 8px;
    @include themeify {
      svg path {
        fill: themed(Primary_color);
      }
    }
  }
}

.inviteBtn {
  @include themeify {
    color: themed(Violet_500);
    font-size: themed(title3_font-size);
    svg path {
      fill: themed(Primary_color);
    }
    &:hover {
      color: themed(Violet_600);
    }
  }
}

.selectMain {
  display: flex;
  padding: 16px;
  align-items: center;
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.03);
}

.label {
  width: 50px;
}

.selectWarp {
  flex: 1;
  flex-wrap: wrap;
  display: flex;

  .input {
    margin: 2px;
    flex: 1;
    outline: none;
    border: none;
    min-height: 28px;
    @include themeify {
      font-size: themed(Headline_font-size);
      color: themed(Gray_900);
    }
  }
}

.selectItem {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  opacity: 0.9;
  margin: 2px 5px 2px 2px;
  @include themeify {
    font-size: themed(Headline_font-size);
    color: themed(Gray_900);
    background: themed(Gray_200);
  }

  .name {
    margin-right: 5px;
    max-width: 150px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
  }
}

.listContainer {
  padding: 16px;
}

.listTitle {
  margin: 5px 0 15px;
  font-weight: 700;
  @include themeify {
    font-size: themed(Headline_font-size);
    color: themed(Primary_color);
  }
}

.listWarp {
  overflow-y: auto;
  max-height: 420px;
}

.listWarp::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.listWarp::-webkit-scrollbar-track {
  @include themeify {
    background: themed(White_color);
  }
  border-radius: 2px;
}

.listWarp::-webkit-scrollbar-thumb {
  @include themeify {
    background: themed(Gray_500);
  }
  border-radius: 10px;
}

.listWarp::-webkit-scrollbar-thumb:hover {

  @include themeify {
    background: themed(Gray_900);
  }
}

.listItem {
  cursor: pointer;
  min-height: 48px;
  display: flex;
  align-items: center;

  .name {
    margin-left: 10px;
    font-weight: 500;
    @include themeify {
      font-size: themed(Body_font-size);
      color: themed(Primary_color);
    }
  }
}

.groupSettingDialogClassName {
  height: 480px;
}
.groupSettingGrayDialogClassName {
  background-color: #F5F5F5 !important;
}
