.windowContainer {
  position: relative;
  width: 100%;
  height: calc(var(--web3mq-viewport-hight, 1vh) * 100);
  display: flex;
  flex-direction: column;
}
.hasContainerId {
  height: 100% !important;
}
