@import "../../style/index.scss";
.emptyContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include themeify{
    background-color: themed(White_color);
    font-family: Inter, sans-serif;
    font-size: themed(Headline_font-size);
    color: themed(Gray_500);
    font-weight: themed(Medium_font-weight);
  }
}
