@import "../../../style/index.scss";
.actionBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 0 12px;
  @include themeify{
    background: themed(Violet_500);
    .btn {
      height: 36px;
      color: themed(White_color);
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: themed(Caption1_font-size);

      .com {
        width: 14px;
        height: 22px;
        display: flex;
        align-items: center;
      }

      .msg {
        max-width: 50px;
      }

      &:not(:last-child) {
        margin-right: 14px;
      }

      svg path{
        fill: themed(White_color);
        width: 14px;
      }
    }
  }

  &.mobileStyle {
    position: absolute;
    right: 24px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: fit-content;
    padding: 8px 12px;
    align-items: flex-start;
    .btn {
      flex-direction: column;
      height: auto;
      justify-content: space-between;
      &:not(:last-child) {
        margin-right: 7px;
      }
    }
  }
}
