@import "../../style/index.scss";
.avatarContainer {
  flex-shrink: 0;
  margin-right: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  @include themeify{
    color: themed(White_color);
    svg path {
      fill: themed(Violet_500);
    };
  }
}
.circle {
  border-radius: 50%;
}
.rounded {
  border-radius: 4px;
}
.square {
  border-radius: 0;
}
.avatarFallback {

  @include themeify{
    background-color: themed(Violet_500);
  }

}
.imgLoaded {
  background-color: none;
}
.avatarFallback {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
  text-align: center;
}
//.avatarDefaultBox {
//  width: 40px;
//  height: 40px;
//  font-size: 20px;
//  @include themeify {
//    svg path {
//      fill: themed(Violet_500);
//    }
//  };
//
//};

