@import "../../style/index.scss";
.channelPreviewContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  transition: background-color 0.1s ease-in-out;

  @include themeify{
    background-color: themed(White_color);
    &:hover {
      background-color: themed(Gray_100);
    }
    &.selected {
      background-color: themed(Gray_100);
    }
  }

  &.mobileStyle{
	  padding: 10px 24px;
  }
}
.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;  
  position: relative;
}

.previewTop, .previewBottom {
  display: flex;
  height: 20px;
  justify-content: space-between;
  align-items: center;
}
.title {
  max-width: 190px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include themeify{
    font-size: themed(Body_font-size);
    font-weight: themed(Bold_font-weight);
    color: themed(Gray_900);
  }
}

.updateTime {
  @include themeify{
    font-size: themed(Caption1_font-size);
    color: themed(Gray_400);
  }
}
.lastMessage {
  text-align: left;
  line-height: 16px;
  margin: 0;
  height: 16px;
  max-width: 190px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include themeify{
    font-size: themed(Body_font-size);
    font-weight: themed(Regular_font-weight);
    color: themed(Gray_900);
  }
}

.unread {
  height: 18px;
  min-width: 24px;
  text-align: center;
  line-height: 18px;
  border-radius: 10px;
  padding: 0 6px;
  @include themeify{
    background-color: themed(Red_500);
    color: themed(White_color);
    font-size: themed(Body_font-size);
    font-weight: themed(Bold_font-weight);
  }
}