@import "../../../style/index.scss";

.MobileContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  @include themeify {
    background-color: themed(White_color);
  }
}

.tabItem {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include themeify {
    color: themed(Gray_900);
    &:hover {
      background-color: themed(Gray_100);
      color: themed(Violet_500);
    }
    &.selected {
      background-color: themed(Gray_100);
      color: themed(Violet_500);
    }
  }

}

.icon {
  width: 24px;
  height: 30px;
  background-size: cover;
}

.title {
  @include themeify {
    font-size: themed(Caption1_font-size);
  }
}
