.MobileContainer {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.tabItem {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #242424;

  &:hover {
    background-color: #fafafa;
    color: #605DEC;
  }
  &.selected {
    color: #605DEC;
    background-color: #fafafa;
  }
}
.icon {
  width: 24px;
  height: 30px;
  background-size: cover;
}
.title {
  font-size: 12px;
}
