.messageInputFlatContainer {
  box-shadow: 0px -12px 10px rgba(30, 83, 133, 0.03);
  padding: 13px 30px;
  &.mobileStyle {
    padding: 13px 15px;
  }
}
.inputContainer {
  display: flex;
  align-items: center;
}
.messageIcon {
  cursor: pointer;
  background-image: url('../assets/searchMessage.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.opreat {
  display: none;
  min-height: 100px;
  background-color: #fafafa;
}
.showOperat {
  display: block;
}
