@import "../../../style/index.scss";

.sudoSwapCardContainer {
  display: flex;
}

.warp {
  padding: 10px;
  border-radius: 16px 16px 16px 2px;
  @include themeify {
    background: themed(White_color);
    border: 1px solid themed(Gray_100);
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  font-family: Helvetica Neue, sans-serif;
  font-weight: 700;
  font-size: 18px;
  @include themeify {
    color: themed(Gray_900);
    img {
      box-sizing: border-box;
      margin-right: 10px;
      border: 1px solid themed(Gray_200);
      border-radius: 4px;
      width: 34px;
      height: 34px;
    }
  }
}

.cardContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 16px 0;
}

.transferIcon {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  height: 18px;
  width: 18px;
  padding: 4px;
  box-sizing: content-box;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(143, 146, 151, 0.3);
  @include themeify {
    background: themed(White_color);
  }
}

.cardItem {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 56px;
  padding: 4px;
  @include themeify {
    background: themed(Gray_100);
    border: 1px dotted themed(Gray_300);
    .icon {
      margin-right: 4px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: themed(White_color);
      border: 1px solid themed(Primary_color);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .desc {
      font-size: themed(Caption1_font-size);
    }
  }
}

.more {
  width: 100%;
  height: 22px;
  line-height: 22px;
  text-align: center;
  margin-top: 3px;
  border-radius: 2px;
  cursor: pointer;
  @include themeify {
    background: themed(Gray_200);
    font-size: themed(Caption1_font-size);
    color: themed(Primary_color);
  }
}

.info {
  display: flex;
  font-family: Inter, sans-serif;
  line-height: 16px;
  height: 16px;
  @include themeify {
    color: themed(Gray_900);
    font-size: themed(Caption1_font-size);
  }

  span {
    width: 30%;
  }
}

.btn {
  margin-top: 16px;
  padding: 10px 0;
  text-align: center;
  border-radius: 49px;
  font-family: Inter, sans-serif;
  cursor: pointer;
  @include themeify {
    font-size: themed(Body_font-size);
    color: themed(Gray_900);
    border: 1px solid themed(Gray_200);
    &:hover {
      background-color: themed(Gray_100);
    }
  }

}
