@import "../../style/index.scss";
@import '@web3mq/dapp-connect-react/dist/css/index.css';


.addressBox {
  display: flex;
  width: 280px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  margin: 0 auto;
  padding: 0 10px;
  @include themeify {
    border: 1px solid themed(Gray_200);
    color: themed(Gray_700);
    .centerText {
      margin-left: 4px;
      margin-right: 6px;
      font-style: normal;
      font-weight: themed(Bold_font-weight);
      font-size: themed(Headline_font-size);
    }
    .addressText {
      font-weight: themed(Bold_font-weight);
      font-size: themed(Headline_font-size);
      line-height: 20px;
    }
  }

  div:first-child {
    height: 30px;
  }
}

.loginModalHead {
  display: flex;
  position: relative;
  height: 50px;
  border-radius: 0px;
  padding: 14px 16px 14px 16px;

  .title {
    width: 100%;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    @include themeify {
      font-size: themed(title3_font-size);
      font-weight: themed(Medium_font-weight);
    }
  }

  .backBtn {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include themeify {
      font-size: themed(Headline_font-size);
      &:hover {
        color: themed(Gray_500);
      }
    }
  }


  .closeBtn {
    position: absolute;
    right: 16px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include themeify {
      font-size: themed(Headline_font-size);

      &:hover {
        color: themed(Gray_500);
      }
    }

  }
}


.modalBody {
  width: 100%;
  height: calc(100% - 65px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  padding: 0 16px;
}

