@import "../../style/index.scss";
.messageSimpleContainer {
  display: flex;
  align-items: flex-start;
  padding: 16px 24px;
  border-bottom: 1px solid;
  position: relative;
  @include themeify{
    border-color: themed(Gray_100);
  }

  &.mobileStyle {
    padding: 10px 16px;
    .message {
      margin-left: 0;
    }
    .actionBtns {
      top: 10px;
    }
  }

  &:hover:not(.deviceMobileStyle) .actionBtns {
    display: flex;
  }
  &.deviceMobileShow .actionBtns {
    display: flex;
  }
}
.message {
  position: relative;
  width: 100%;
  margin-left: 5px;
}
.dataInner {
  span {
    @include themeify{
      font-size: themed(Caption1_font-size);
      color: themed(Gray_400);
    }
    white-space: nowrap;
    display: inline-block;
    line-height: 23px;
  }
  .name {
    margin-right: 8px;
    @include themeify{
      font-size: themed(Body_font-size);
      font-weight: themed(Bold_font-weight);
      color: themed(Gray_900);
    }
  }
}
.msgLoad {
  width: auto;
  margin-left: 10px;
  > div {
    width: 21px !important;
    height: 21px !important;
    &::after {
      border: 3px solid transparent !important;
    }
  }
}

.hideMessageMargin {
  margin: 0 !important;
}
//.otherMsgType {
//  min-height: 32px;
//  padding: 5px 10px;
//  font-size: 14px;
//  color: #666;
//}

.actionBtns {
  position: absolute;
  right: 24px;
  top: 16px;
  display: none;
}
